{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Text:
        <dd><textarea name=text rows=15 cols=60></textarea>
        <dd><input type=submit value=Process>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li>
      <h2>
        {{ entry.text }}
      </h2>
      <span>
      {{ entry.proc }}
      </span>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}