{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Text:
        <dd><textarea name=text rows=15 cols=60></textarea>
        <dd><input type=submit value=Process>
      </dl>
    </form>
  {% endif %}
  <html>
  <body>
  {% for entry in entries %}
      <h2>
        {{ entry.text }}
      </h2>

	  <script>
	  var processed = {{ entry.proc|safe }};
	  processed += "/";
	  document.write(processed);
	  </script>
      
  {% endfor %}
  
  <script>
      //Create checkboxes
      var last = {{ latest.proc|safe }};

	  while (last.length > 0) {
		  var ind = last.indexOf('/');
		  var word = last.slice(0, ind);
		  myFunction(word);
		  processed = last.slice(ind+1);
	  }
	  
  	  function myFunction(checkText)
	  {
	  var btn=document.createElement("INPUT");
	  btn.type = "CHECKBOX";
	  var t=document.createTextNode("");
	  btn.appendChild(t);
	  document.body.appendChild(btn);
	  
	  var clickMeText = document.createElement("noButton");
	  var s = document.createTextNode(checkText);
	  clickMeText.appendChild(s);
	  document.body.appendChild(clickMeText);
	  }
  </script>
  	  
  </body>
  </html>
{% endblock %}
