<!doctype html>
<title>NLP Test Site</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>NLP Test Site</h1>
  <div class=metanav>
    <span class=metanav1>
      <a href='{{ url_for('model_show_entries') }}'>Text Processor</a>
    </span>
    <a href="{{ url_for('model_queryDictionary') }}">Dictionary Query</a>
  </div>
  <div>
  	{% for messages in get_flashed_messages() %}
  		{{ message }}
  	{% endfor %}
  </div>
  {% block body %}{% endblock %}
</div>
